@import 'tailwindcss/components';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --primary-background: 23, 23, 23;
  --secondary-background: 214, 219, 220;
  --primary-text-color: 255, 255, 255;
  --secondary-text-color: 0, 0, 0;
  --text-accent-green: 88, 216, 109;
  --text-accent-red: 226, 112, 112;
  --text-accent-blue: 41, 134, 204;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-background: 23, 23, 23;
    --secondary-background: 214, 219, 220;
    --primary-text-color: 255, 242, 235;
    --secondary-text-color: 23, 23, 23;
  }
}

body {
  background-color: rgb(var(--primary-background));
  padding-top: 60px;
  margin: 0px;
}

.home-title {
  font-size: 3rem;
  font-weight: 700;
  color: rgb(var(--primary-text-color));
}

/* Stylings for Navbar */
.navbar-container {
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  height: 50px;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(var(--secondary-background));
  color: rgb(var(--secondary-text-color));
  box-shadow: 0 0 10px rgba(var(--foreground-rgb), 0.1);
  padding: 10px;
}
